body {

margin: 0;

}

#canvas {

    width:100%;
    height: 100%;

}

body {

    background-color: #F7F7F7;

}

/*'#334D5C',
        '#45B29D',
        '#EFC94C',
        '#E27A3F',
        '#DF5A49',