body {
    perspective: 750px;
    perspective-origin: 50% 25%;
    background-color: #F7FCF7;

}

.button {
    box-sizing: border-box;
    backface-visibility: visible;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotateX(0deg);
    width: 150;
    height: 60px;
    border-radius: 3px;
    text-align: center;
    vertical-align: middle;
    padding-top: 23px;
    color: white;
    font-family: sans-serif;
    font-weight: lighter;
}

.button.flip {
    
    background-color: #67BDBF;
    transition-duration: 1.5s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.45, -0.3, .45, 1.5);
    
}

.button.flip:active {
   
    background-color: #F2776B;
     -webkit-transform-origin: top middle;
    box-shadow: 0px 5px 40px rgba(0,0,0,0.3);
     transform: translate(-50%,-50%) rotateX(360deg);
    width: 150px;
    height: 300px;

}

.button.swing {
    
    background-color: #FFCA3E;
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.2),rgba(0,0,0,0));
    background-size: auto 300%;
    transform: translate(-50%, -50%) rotateX(-15deg);
    -webkit-transform-origin: 0% 0%;
    box-shadow: 0px 5px 40px rgba(0,0,0,0.3);
    width: 150px;
    height: 60px;
    transition-duration: 1.5s;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.65, 0, 0.35, 1);
    -webkit-animation-name: "swing";
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-timing-function: cubic-bezier(0.65, 0, 0.35, 1);
    -webkit-animation-fill-mode: both;

}

@-webkit-keyframes swing{

    from {transform: translate(-50%,-50%) rotateX(-25deg);
        background-position: 0 0;
    }
    
    to {transform: translate(-50%,-50%) rotateX(25deg);
    background-position: 0 100%;}

}